@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex-dark-end: #1a141a; /* thunder-1000 */
  --background-hex-dark-start: #2a202a; /* thunder-975 */
  --background-hex-light-end: #e2d5e1; /* thunder-200 */
  --background-hex-light-start: #f2ecf2; /* thunder-100 */
  --foreground-hex-dark: #e2d5e1; /* thunder-200 */
  --foreground-hex-light: #2f232e; /* thunder-950 */
}

body {
  color: var(--foreground-hex-light);
  fill: var(--foreground-hex-light);
  background: linear-gradient(to bottom, transparent, var(--background-hex-light-end))
    var(--background-hex-light-start);
}

html.dark body {
  color: var(--foreground-hex-dark);
  fill: var(--foreground-hex-dark);
  background: linear-gradient(to bottom, transparent, var(--background-hex-dark-end))
    var(--background-hex-dark-start);
}

@layer base {
  fieldset label:last-of-type {
    margin-bottom: 1em;
  }
}
