@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex-dark: #2a202a; /* thunder-975 */
  --background-hex-light: #c8b1c8; /* thunder-100 */
  --foreground-hex-dark: #c8b1c8; /* thunder-100 */
  --foreground-hex-light: #2a202a; /* thunder-975 */
}

body {
  color: var(--foreground-hex-light);
  fill: var(--foreground-hex-light);
  background: var(--background-hex-light);
}

html.dark body {
  color: var(--foreground-hex-dark);
  fill: var(--foreground-hex-dark);
  background: var(--background-hex-dark);
}

@keyframes request-loader-bg-animation {
  0% {
    background-position-y: 82px;
  }
  40% {
    background-position-y: -7px;
  }
  90% {
    background-position-y: -60px;
  }
  100% {
    background-position-y: -70px;
  }
}

@keyframes animate-selected-answer {
  0% {
    transform: scale(0, 1);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes box-shadow-animate {
  0% {
    box-shadow: none;
  }
  15% {
    box-shadow: none;
    scale: 1;
  }
  20% {
    box-shadow: 0px 0px 0px 1px rgba(49, 8, 51, 0.9);
  }
  30% {
    box-shadow: 0px 0px 50px 1px rgba(49, 8, 51, 0.9);
  }
  40% {
    box-shadow: 0px 0px 90px 1px rgba(49, 8, 51, 0.9);
    scale: 1.05;
  }
  45% {
    box-shadow: 0px 0px 25px 1px rgba(49, 8, 51, 0.9);
  }
  50% {
    box-shadow: 0px 0px 90px 1px rgba(49, 8, 51, 0.9);
  }
  55% {
    box-shadow: 0px 0px 25px 1px rgba(49, 8, 51, 0.9);
  }
  60% {
    box-shadow: 0px 0px 90px 1px rgba(49, 8, 51, 0.9);
  }
  65% {
    box-shadow: 0px 0px 25px 1px rgba(49, 8, 51, 0.9);
  }
  70% {
    box-shadow: 0px 0px 90px 1px rgba(49, 8, 51, 0.9);
  }
  75% {
    box-shadow: 0px 0px 25px 1px rgba(49, 8, 51, 0.9);
    scale: 1;
  }
  90% {
    box-shadow: 0px 0px 25px 1px rgba(49, 8, 51, 0.9);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes dark-box-shadow-animate {
  0% {
    box-shadow: none;
  }
  15% {
    box-shadow: none;
    scale: 1;
  }
  20% {
    box-shadow: 0px 0px 0px 1px rgba(251, 167, 255, 0.9);
  }
  30% {
    box-shadow: 0px 0px 50px 1px rgba(251, 167, 255, 0.9);
  }
  40% {
    box-shadow: 0px 0px 90px 1px rgba(251, 167, 255, 0.9);
    scale: 1.05;
  }
  45% {
    box-shadow: 0px 0px 25px 1px rgba(251, 167, 255, 0.9);
  }
  50% {
    box-shadow: 0px 0px 90px 1px rgba(251, 167, 255, 0.9);
  }
  55% {
    box-shadow: 0px 0px 25px 1px rgba(251, 167, 255, 0.9);
  }
  60% {
    box-shadow: 0px 0px 90px 1px rgba(251, 167, 255, 0.9);
  }
  65% {
    box-shadow: 0px 0px 25px 1px rgba(251, 167, 255, 0.9);
  }
  70% {
    box-shadow: 0px 0px 90px 1px rgba(251, 167, 255, 0.9);
  }
  75% {
    box-shadow: 0px 0px 25px 1px rgba(251, 167, 255, 0.9);
    scale: 1;
  }
  90% {
    box-shadow: 0px 0px 25px 1px rgba(251, 167, 255, 0.9);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes question-flyoff {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  75% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-400px);
    opacity: 0;
  }
}

@keyframes question-appear {
  0% {
    opacity: 0;
    scale: 0.75;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.answerSelected {
  animation: box-shadow-animate 1.5s ease-out;
  box-shadow: 0px 0px 15px 1px rgba(49, 8, 51, 0.9);
  scale: 1;
}

html.dark .answerSelected {
  animation: dark-box-shadow-animate 1.5s ease-out;
  box-shadow: 0px 0px 15px 1px rgba(251, 167, 255, 0.9);
}

.answerSelected:after {
  animation: animate-selected-answer 1.5s ease-in-out;
  transform: scale(1, 1);
  background-color: #dee9e6;
}

html.dark .answerSelected:after {
  background-color: #1a2322;
}

.animateQuestionFlyoff {
  animation: question-flyoff 1.5s;
  opacity: 0;
  transform: translateX(-400px);
}

.animateQuestionAppear {
  animation: question-appear 150ms;
  opacity: 1;
  scale: 1;
}

.requestLoader {
  font-size: 12rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--foreground-hex-light);
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    var(--foreground-hex-light) 50%,
    var(--foreground-hex-light)
  );
  background-clip: text;
  background-size: cover;
  animation: request-loader-bg-animation 5s ease-out;
  background-position-y: -70px;
}

html.dark .requestLoader {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    var(--foreground-hex-dark) 50%,
    var(--foreground-hex-dark)
  );
  -webkit-text-stroke: 2px var(--foreground-hex-dark);
}

@layer base {
  fieldset label:last-of-type {
    margin-bottom: 1em;
  }

  :focus {
    outline: 2px solid var(--foreground-hex-light);
  }

  .textInputError {
    & input,
    & input:focus {
      color: #881337; /* rose-900 */
    }
    & label {
      color: #881337;
    }
    & p {
      color: #881337;
    }
  }

  html.dark .textInputError {
    & input,
    & input:focus {
      color: #fda4af; /* rose-300 */
    }
    & label {
      color: #fda4af;
    }
    & p {
      color: #fda4af;
    }
  }

  .dark :focus {
    outline: 2px solid var(--foreground-hex-dark);
  }
}
