@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex-dark: #2a202a; /* thunder-975 */
  --background-hex-light: #c8b1c8; /* thunder-100 */
  --foreground-hex-dark: #c8b1c8; /* thunder-100 */
  --foreground-hex-light: #2a202a; /* thunder-975 */
}

body {
  color: var(--foreground-hex-light);
  fill: var(--foreground-hex-light);
  background: var(--background-hex-light);
}

html.dark body {
  color: var(--foreground-hex-dark);
  fill: var(--foreground-hex-dark);
  background: var(--background-hex-dark);
}

@keyframes request-loader-bg-animation {
  0% {
    background-position-y: 82px;
  }
  40% {
    background-position-y: -7px;
  }
  90% {
    background-position-y: -60px;
  }
  100% {
    background-position-y: -70px;
  }
}

.requestLoader {
  font-size: 12rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--foreground-hex-light);
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    var(--foreground-hex-light) 50%,
    var(--foreground-hex-light)
  );
  background-clip: text;
  background-size: cover;
  animation: request-loader-bg-animation 5s ease-out;
  background-position-y: -70px;
}

html.dark .requestLoader {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    var(--foreground-hex-dark) 50%,
    var(--foreground-hex-dark)
  );
  -webkit-text-stroke: 2px var(--foreground-hex-dark);
}

@layer base {
  fieldset label:last-of-type {
    margin-bottom: 1em;
  }

  :focus {
    outline: 2px solid var(--foreground-hex-light);
  }

  .textInputError {
    & input,
    & input:focus {
      color: #881337; /* rose-900 */
    }
    & label {
      color: #881337;
    }
    & p {
      color: #881337;
    }
  }

  html.dark .textInputError {
    & input,
    & input:focus {
      color: #fda4af; /* rose-300 */
    }
    & label {
      color: #fda4af;
    }
    & p {
      color: #fda4af;
    }
  }

  .dark :focus {
    outline: 2px solid var(--foreground-hex-dark);
  }
}
