@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex-dark: #e2d5e1;
  --foreground-hex-light: #2f232e;
  --background-hex-dark-end: #1a141a;
  --background-hex-light-end: #e2d5e1;
  --background-hex-dark-start: #2a202a;
  --background-hex-light-start: #f2ecf2;
}

body {
  color: var(--foreground-hex-light);
  fill: var(--foreground-hex-light);
  background: linear-gradient(to bottom, transparent, var(--background-hex-light-end))
    var(--background-hex-light-start);
}

html.dark body {
  color: var(--foreground-hex-dark);
  fill: var(--foreground-hex-dark);
  background: linear-gradient(to bottom, transparent, var(--background-hex-dark-end))
    var(--background-hex-dark-start);
}
