@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex-dark: #2a202a; /* thunder-975 */
  --background-hex-light: #c8b1c8; /* thunder-100 */
  --foreground-hex-dark: #c8b1c8; /* thunder-100 */
  --foreground-hex-light: ##2a202a; /* thunder-975 */
}

body {
  color: var(--foreground-hex-light);
  fill: var(--foreground-hex-light);
  background: var(--background-hex-light);
}

html.dark body {
  color: var(--foreground-hex-dark);
  fill: var(--foreground-hex-dark);
  background: var(--background-hex-dark);
}

@layer base {
  fieldset label:last-of-type {
    margin-bottom: 1em;
  }
}
